@media (max-width: 1400px) {
    .conteiner {
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .absolute_card {
        left: 15%;
        width: 85%;
    }
}

@media (max-width: 1150px) {
    .wrap {
        justify-content: center;
    }

    .wrap_block {
        width: 80%;
    }

    .block_text {
        width: 60%;
    }

    .about img {
        width: 450px;
        height: 300px;
        bottom: 0;
        right: 11%;
    }

    .main_title {
        width: 49%;
    }

    .cards {
        width: 150%;
    }

    .banner_text {
        margin-left: 2%;
    }
}

@media (max-width: 1000px) {
    .main_title {
        width: 49%;
    }

    .about img {
        width: 350px;
        height: 200px;
    }

    .main_title {
        width: 59%;
    }

    .banner {
        flex-direction: column;
        height: auto;
        width: auto;
    }

    .banner_text {
        width: 85%;
        padding-bottom: 20px;
    }

    .banner img {
        width: 300px;
        height: 330px;
    }

    .big_title {
        width: 82%;
    }

    .about button {
        width: 20%;
        height: 60px;
        font-size: 16px;
    }

    .conteiner {
        padding-left: 5%;
        padding-right: 5%;
    }

    .absolute_card {
        left: 13%;
        width: 85%;
    }
}

@media (max-width: 800px) {
    .about img {
        display: none;
    }

    .main_title {
        width: 90%;
    }

    .desc a, .desc p {
        font-size: 22px;
    }

    .logo img {
        width: 60px;
        height: 45px;
    }

    .about button {
        width: 25%;
        height: 70px;
        font-size: 20px;
    }

    .s_title h1 {
        font-size: 26px;
    }

    .s_desc a, .s_desc p {
        font-size: 18px;
    }

    .button_block a {
        font-size: 18px;
    }

    .cards {
        width: 150%;
    }

    .point {
        width: 10px;
        height: 10px;
    }

    .point.active {
        width: 20px;
        height: 20px;
    }

    .cusor_icon {
        margin-right: 15%;
    }

    .back_cursor {
        margin-right: 25%;
    }

    .absolute_card {
        height: auto;
    }

    .card {
        width: 37%;
        flex-direction: column;
        height: auto;
        padding: 20px 20px 20px 10px;
    }

    .e_mail_card h1 {
        font-size: 24px;
    }

    .e_mail_card p {
        font-size: 16px;
    }

    .s_desc_card p {
        font-size: 22px;
    }

    .img_card img {
        width: 90px;
    }

    .wrap_block {
        width: 100%;
    }

    .img_card img {
        margin-left: 35%;
    }

    .card.active {
        width: 55%;
        padding: 20px 20px 20px 10px;
    }

    .img_card img {
        margin-bottom: 20px;
    }

    
    .testimonials {
        height: 750px;
    }

    .wrap_block {
        height: 300px;
    }

    .block_text {
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .big_title {
        width: 100%;
    }

    .desc a, .desc p {
        font-size: 24px;
    }

    .about button {
        width: 35%;
        font-size: 22px;
    }

    .header p {
        width: 100%;
    }

    .absolute_card {
        left: 5%;
    }

    .cards {
        width: 240%;
    }

    .logo {
        margin-right: 0px;
    }

    .wrap_block {
        height: 400px;
    }

    .search,
    .access,
    .print,
    .security {
        background-size: 85% 400px;
    }

    .block_text {
        margin-left: 2%;
    }

    .footer {
        flex-direction: column;
        align-items: start;
        margin-left: 20%;
    }

    .media_footer {
        margin-bottom: 50px;
    }
}

@media (max-width: 500px) {
    ::before,
    ::after {
        display: none;
    }

    .nav {
        display: none;
    }

    .top {
        justify-content: space-between;
        padding: 0 10% 0 10%;
    }

    .burger_button div {
        display: flex;
    }

    .about button {
        width: 45%;
    }

    .wrap_block {
        width: 100%;
        flex-direction: column;
        height: 500px;
    }

    .search,
    .access,
    .print,
    .security {
        padding-top: 50px;
        background-size: 100% 500px;
    }

    .block_text {
        margin-left: 0;
        width: 80%;
    }

    .button_block a {
        font-size: 20px;
    }

    .adress_footer a {
        font-size: 18px;
    }

    .phone_footer a {
        font-size: 16px;
    }

    .copyright p {
        font-size: 14px;
    }

    .media_footer h1 {
        font-size: 18px;
    }

    .soc_media a {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 500px) {
    .block_text {
        margin-top: 20px;
        width: 85%;
    }

    .search,
    .access,
    .print,
    .security {
        background-size: 100% 490px;
    }

    .wrap_block {
        height: 490px;
    }

    .card_title h1 {
        padding-left: 35px;
    }

    .slider_icon {
        margin-left: 35px;
    }

    .footer {
        margin-left: 5%;
    }

    .card_inf {
        padding-left: 15px;
    }

    .s_desc_card p {
        font-size: 18px;
    }

    .e_mail_card p {
        font-size: 14px;
    }

    .e_mail_card h1 {
        font-size: 22px;
    }

    .s_title h1 {
        font-size: 24px;
    }

    .s_desc a, 
    .s_desc p {
        font-size: 16px;
    }

    .button_block a {
        font-size: 18px;
    }

    .about button {
        width: 50%;
        height: 50px;
        font-size: 19px;
    }

    .big_title {
        width: 100%;
        font-size: 47px;
    }
}

@media (max-width: 500px) {
    .desc a,
    .desc p {
        font-size: 16px;
    }

    .title h1 {
        font-size: 32px;
    }

    .indent_t {
        margin-top: 70px;
    }

    .wrap_block {
        margin-top: 0;
    }
}git init